@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}



.stu {
    width: 300px;

    padding: 25px;
    margin: 25px 100px;
    text-align: center;
    font-family: comic sans ms;
    font-size: 25px;
    border: solid 1px gray;
    box-shadow: 0 5px 2px gray;
    display: inline-block;
}


.stu1 {
    width: 550px;
    padding: 25px;
    margin: 25px 100px;
    text-align: center;
    font-family: comic sans ms;
    font-size: 25px;
    border: solid 1px gray;
    box-shadow: 0 5px 2px gray;
    display: inline-block;
}


a {
    text-decoration: none;
}

.navbar {
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    color: #565387 !important;
}

.navbar a {
    color: inherit;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid green;
}

.navbar a:hover {
    color: #3498db !important;
}

#header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#header .brand-name {
    color: #3498db;
    font-size: 20px;
}


#header h2 {
    color: #484848;
    font-size: 24px;
}

#header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    text-decoration: none;
    border: 2px solid #3498db;
    margin-bottom: 1rem;
}

.my_home{

    height: 300px;
    width: 300px;
    border: 1px solid red ;
  
  }

#header .btn-get-started:hover {
    background-color: #3498db;
    color: #fff;
}

.header-img {
    text-align: right;
}

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {

    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


@keyframes up-down {

    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.bg-color1{
    background-color: #050C27;
}


.

{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
        height: 150px;
        width: 300px;
        background-color: #FEFEFE;
        border-radius: 10px;
    }
    
    .box h3{
        font-weight: bold;
        padding: 10px;
    }
    
    .logo{
        margin: auto;
        margin-top: -34px;
        width: 50px;
        color: #FEFEFE;
        height: 50px;
        line-height: 50px;
    font-size: 30px;
        background-color: #69C444;
        border-radius: 50%;
    }

    columnDefs{
        text-align: center;
    }
.btn11{
    font-weight: normal;
}
.card1{
    width: 28rem;
}

.main_div{

    height: auto;
    width: 27rem;
    border-radius: 20px;
    /* background-color: #B09FB6; */
    background-image: linear-gradient(#288aa5, #879637);
    text-align: center;
    padding-top: 2rem;
    /* margin: auto; */
    margin-top: 4rem;
    /* margin-left: 135px; */
}

.form-control1{

    color: #4d34f0;
    height: 3rem;
    width: 20rem;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-top: 15px;
    border: none;
    border-radius: 7px;    
}

.btn_button{
    height: 3rem;
    width: 20rem;
    border: none;
    color: #fff;
    background-image: linear-gradient(#288aa5, #288aa5);
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0px 1px 1px #fff;

}

.btn_button:hover{
    background-color: #5F8B56;
}

.signup_account{
    display: inline-block;
    height: 3rem;
    width: 20rem;
    /* background-color: #fff; */
line-height: 3rem;

}

.img-icon{
    margin-bottom: 10px;
    border-radius: 50%;
    border: 1px solid #E4E6E7;
    margin-bottom: 3rem;
}

.signup_account .sgn-color{

    color: rgb(25, 17, 177);
    font-size: 20px;
}
.pullpage{
    padding: 17rem;
}

.lb-name{
    display: inline-block;
    color:#0A6380;
font-size: 20px;
}

.signup_css{
    color: #fff;
    background-color: #0A6380;
    height: 40px;
    width: 100%;
    border: none;
}
.h3_color{
color: #0A6380;
font-weight: bold;
}

@media (max-width:991px) {


    #header {
        height: 80vh;
        text-align: center;
    }

    #header .header-img {
        text-align: center;
    }

    #header .header-img img {
        width: 60%;
    }


    .navbar-brand {
        font-size: 1.5rem !important;

    }

    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }



}


.err-messs{
    color: rgb(163, 28, 28);
    font-size: 20px;
}




@media(max-width:768px) {
    #header {
        margin-top: 20px;
    }

    #header h1 {
        font-size: 28px;
    }

    #header h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }


    #header .header-img img {
        width: 70%;
    }



}